@model IEnumerable<GeneralValuationSubs.Models.DraftGv>

@{
    ViewData["Title"] = "Township Page";    
}

<link rel="stylesheet" href="~/css/datatable_1.12_min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/datatable_2.2.3_min.css" asp-append-version="true" />
<script src="~/js/jquery-3.5.1.js" asp-append-version="true"></script>
<script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script>
<script src="~/js/dataTables.buttons.min.js" asp-append-version="true"></script>
<script src="~/js/jszip.min.js" asp-append-version="true"></script>
<script src="~/js/pdfmake.min.js" asp-append-version="true"></script>
<script src="~/js/vfs_fonts.js" asp-append-version="true"></script>
<script src="~/js/buttons.html5.min.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/bootsWatchTheme.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1 class="container display" style="align-items: center; justify-content: center; display: flex;">Choose Township:</h1><br />

<div class="container display" style="align-items: center; justify-content: center; display: flex;">
    
<label for="township"></label> 
<select name="township" id="town_name" style="font-size: 24px;">    
  <option value="town">--Select--</option>
       @{
         if (Model != null)
            {
               foreach (var Data in Model)
               {
                     if (@Data.Town != null)
                     {
                         <option value="@Data.Town">@Data.Town</option>
                     }
               }
            }                   
        }
</select>  

</div>

<div id="divPartialView">
    <table>
        <thead>
            <tr>  
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
 $(document).ready(function() {
        $('#town_name').change(function() {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("GetRecords", "Township")",
                    contentType: 'application/html; charset=utf-8',
                    datatype: 'html',
                    data:{town_name:$('#town_name').val()},
                    success:function(data)
                    { 
                        $('#divPartialView').html('');
                        $('#divPartialView').html(data);
                    }
                })
            })  
        });
</script>