@{
    ViewData["Title"] = "Home Page";

    var currentUser = TempData["currentUser"];
    TempData.Keep("currentUser");

    var currentUserSurname = TempData["currentUserSurname"];
    TempData.Keep("currentUserSurname");
    var currentUserFirstname = TempData["currentUserFirstname"];
    TempData.Keep("currentUserFirstname");
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
       
          <li>Valuations</li>
        </ol>
        <h2>Search Property</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

          <input type="text" value="@currentUser"/>
          <input type="text" value="@currentUserFirstname @currentUserSurname"/>

        <div class="row">

        

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
